*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    list-style: none;
    scroll-behavior: smooth;
}
#sec1{
    background-image: url(./images-task4/th\ \(2\).jpeg);
    background-size: 100% 100%;
}
.container1{
    width: 80%;
    margin: auto;
    padding: 3%;
}
.overlay{
    background-color: #0000007a;
    height: 100%;
}
.flex1{
    display: flex;
    justify-content: space-between;
}
.h-sec1{
    color: white;
    padding-top: 2%;
    padding-bottom:2% ;
}
.ul-sec1{
    color: gray;
    display: flex;
    width: 45%;
    justify-content: space-between;
    align-items: center;
}
.li-home{
    color: white;
}
.nav1{
    border-bottom: white 1px solid;
}
.search{
    color: gray;
    font-size: 20px;
}
.flex2{
    margin-top: 50%;
    display: flex;
}
.div-flex{
    display: flex;
    color: white;
}
.num{
    margin-right: 4%;
    font-size: 35px;
    border: gray 3px solid;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding-right: 6%;
    text-align: center;
    padding-bottom: 16%;
    padding-left: 5%;
    color: gray;
}
.num3{
    border: blue 3px solid;
    border-left: gray 3px solid;
}

.p-div-flex{
margin-top: 2%;
line-height: 1.2;
color: gray;
}
.p-3{
    color: white;
}
.sec2{
    margin-top: 5%;
}
.container2{
    width: 80%;
    margin: auto;
}
.flex-sec2{
    display: flex;
}
.nav-sec2{
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px lightgray solid;
    padding-bottom: 2%;
}
.div1{
    width: 70%;
}
.ul-nav2{
    display: flex;
    width: 76%;
    justify-content: space-between;
    align-items: center;
    color: gray;
}
.li-all{
    color: black;
    margin-top: 1%;
    border-bottom: 4px blue solid;
}
.div2{
    width: 30%;
    border: 1px lightgray solid;
    border-top: none;
    border-right: none;
    margin-left: 2%;
    border-bottom: none;
}
.card1-div1{
   
    margin-top: 5%;
    width: 40%;
    box-shadow: 0px 0px 6px gray;
    position: relative;
    align-self: flex-start;
}
.h3-part2{
    margin: 3% 3%;
}
.h4{
    font-size:12px;
}
.img-card1{
    width: 100%;
}
.btn-sec2{
    position: absolute;
    top: 17px;
    left: 34px;
    width: 24%;
    border: none;
    color: blue;
    font-size: 12px;
}
.img-sec3{
    width: 100%;
    display: block;
}
.p-small{
    font-size: 13px;
}
.p-part2{
    color: gray;
    font-size: 15px;
    padding-top: 4%;
    margin-top: 4%;
    padding-left: 2%;
    margin-bottom: 2%;
}
.cards{
    display: flex;
    margin-bottom: 4%;
}
.card2-div1{
    margin-top: 3%;
    width: 50%;
    margin-left: 3%;
}
.small-div{
    margin-top: 3%;
    /* width: 50%; */
    display: flex;
    box-shadow: 0px 0px 5px gray;
}
.small-img{
    width: 30%;
}
.div-small-div{
    width: 49%;
    margin: 2%;
    margin-left: 4%;
}
.small-p{
    font-size: 14px;
}
.arrow{
    color: lightgray;
    width: 5%;
    height: 5%;
    border: 1px lightgray solid;
    border-radius: 50%;
    text-align: center;
    padding: 1% 0%;
    padding-bottom: 3%;
    margin: 1.5%;
}
.h-div2{
    margin-left: 15%;
    margin-bottom: 4%;
}
.hr-div2{
    color: #d3d3d300;
    /* border-bottom: 1px lightgray solid; */
   
}
.p-div2{
    color: gray;
    margin: 7% 10%;
    line-height: 1.2;
    padding-bottom: 11%;
}
.h3-div2{
    margin: 5% 13%;
}
.h4-div2{
    margin: 3%;
    padding: 3%;
    width: 40%;
}
/* .small-div2{
    /* margin-top: 12%; */
.small-img2{
    width: 29%;
}
.container-content{
    margin-left: 12%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 7%;
    margin-bottom: 7%;
}
.nav-sec2-part2{
    margin-top: 5%;
}
.card2-div2{
    margin-left: 3%;
}
/* .small{
    margin-top: 0%;
} */
 .small{
    margin-top: 0;
 }
 .ul-flex{
    display: flex;
    justify-content: space-evenly;
 }
 .icon{
    color: gray;
    margin: 5% 5%;
    height: 23px;
    width: 23px;
    border: 1px lightgray solid;
    border-radius: 50%;
    padding: 1% 1%;
    font-size: 13px;
    /* padding-bottom: 4%; */
    text-align: center;
 }
.end{
margin: 5%;
}
.img-end{
    width: 100%;
}
.flex3{
    display: flex;
    margin-top: 8%;
    justify-content: space-between;
    margin-bottom: 8%;
    /* align-items: center; */
}
.relative3{
    position: relative;
    width: 30%;
}
.absolute2{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    color: white;
    background-color: #0000009e;
    /* margin-left: 3%; */
    /* bottom: 10px; */
    /* top: 0; */
    /* left: 0; */
    text-align: center;
}
.btnn{
    margin-top: 9%;
    /* position: absolute; */
    top: 17px;
    left: 34px;
    width: 24%;
    border: none;
    color: blue;
    font-size: 12px;
}
.pp{
    margin-top: 15%;
    margin-left: 11%;
}
.container4{
    width: 80%;
    margin: auto;
    padding: 0%;
}
.h4-sec4{
    margin-bottom: 1%;
}
.card2-div11{
    width: 100%;
    margin-left: 0;
}
/* .div-small-div2{
padding: 3%;
} */
 .p-part22{
    margin-top: 2%;
 }
 .p-part222{
    font-size: 10px;
 }
 .div22{
    width: 30%;
    /* border: 1px lightgray solid;
    border-top: none;
    border-right: none; */
    margin-left: 2%;
    /* border-bottom: none; */
 }
 /* .card3-div3{
    margin-top: 5%;
    width: 40%;
    box-shadow: 0px 0px 6px gray;
    position: relative;
 } */
.card1-div11{
  margin-top: 5%;
  width: 100%;
  box-shadow: 0px 0px 6px gray;
  position: relative;
  align-self: flex-start;
  }
  .flex-sec4{
    display: flex;
  }
  .play {
    text-align: center;
    color: gray;
    position: absolute;
    top: 100px;
    left: 141px;
    font-size: 24px;
    width: 34px;
    height: 34px;
    border: none;
    border: 1px white solid;
    border-radius: 50%;
    background-color: white;
    padding: 1.5% 1%;
    /* margin-left: 1%; */
}
.load-more {
    color: lightgray;
    border: 1px lightgray solid;
    width: 13%;
    margin-top: 9%;
    font-size: 15px;
    text-align: center;
    padding: 1%;
    border-radius: 23px;
    margin-left: 34%;
    margin-bottom: 3%;
    background-color: white;
}
.h4-sec44{
    margin-bottom: 2%;
}
.footer{
    background-color: black;
}
.container5{
    width: 80%;
    margin: auto;
    padding: 5% 0%;
}
.flex-sec5{
    display: flex;
    justify-content:space-between ;
}
.list-foot{
    color: gray;
    padding-top:15% ;
}
.list-foot-p{
    color: gray;
}
.small-con{
    margin-top: 2%;
}
.h5-sec5{
        color: white;
        margin-top: 6%;
        font-size: 20px;
}
.h4-foot{
    color: white;
    margin-top: 5%;
    padding-bottom: 4%;
}
.subscribe{
    margin-top: 1%;
}
.email-sec5 {
    margin-top: 9%;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid gray;
    color: white;
}
.arroww{
    color: white;
    margin-top: 6%;
}
.up {
color: gray;
width: 35px;
height: 35px;
border: 1px solid #8080808c;
background-color: #8080808c;
border-radius: 50%;
margin-left: 93%;
margin-bottom: 2%;
text-align: center;
padding-top: 0.5%;
font-size: 20px;
position: fixed;
bottom: 8%;
}
.button{
    background-color: transparent;
    border: none;
}
/**************************************/
